*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #030303;
}

a{
    text-decoration: none;
    color: currentColor;
}

.container{
    width: 100%;
    display: flex;
}

/**************************************************/
/*                     MENU                       */
/**************************************************/

.header{
    height: 75px;
    background-color: rgba(0, 0, 0, 0.90);
    position: fixed;
    align-items: center;
    justify-content: center;
}

.menu{
    height: 100%;
    display: flex;
    align-items: center;
}

.menu ul, li{
    list-style: none;
    font-weight: 900;
    display: flex;
}

.menu li{
    margin-left: 70px;
    margin-right: 70px;
    font-size: 18px;
    color:#fff;
    height: 75px;
    transition: all linear 0.3s;
}

.menu li a{
    display: flex;
    align-items: center;
}

.menu li:hover{
    border-bottom: 5px solid #05DBF2;
}

.menu-mobile{
    display: none;
}

#pt{
    border-radius: 100%;
    cursor: pointer;
}

#en{
    border-radius: 100%;
    cursor: pointer;
}

/**************************************************/
/*            CONTAINER - BANNER                  */
/**************************************************/

.banner{
    height: 92vh;
    width: 100%;
    background-image: url(../imgs/bg.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.imgbanner{
    height: 250px;
    width: 250px;
    border-radius: 125px;
    background-image: url(../imgs/minhaImg.jpeg);
    background-size: cover;
    background-position: bottom;
    box-shadow: 0 0 30px #000;
    margin-bottom: 30px;
    margin-top: 50px;
}

.highlight{
    color:#05DBF2;
}

.banner h2{
    margin-bottom: 40px;
    font-weight: 800;
    letter-spacing: 5px;
}

.banner img{
    margin-top: 60px;
    margin-bottom: 20px;
}

.content-main-write-paragraph {
    font-family: 'Sarala', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #05dbf2;
}

/**************************************************/
/*            CONTAINER - FOOTER                  */
/**************************************************/

.footer{
    padding: 20px;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.90);
    color: #FFF;
    font-size: 15px;
}

/**************************************************/
/*               RESPONSIVIDADE                   */
/**************************************************/

@media (max-width:1360px){
    .projetos{
        padding: 75px 20px 20px 20px;
    }

    .lower{
        grid-template-columns: repeat(2,1fr);
    }

}

@media (max-width:1000px){
    .contatolower{
        flex-direction: column;
    }

    .right-img img{
        height: 200px;
    }
}

@media (max-width:820px){
    .menu li{
        margin-left: 10px;
        margin-right: 10px;
    }

    .sobrelower{
        flex-direction: column;
    }

    .lower{
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width: 700px){
    .sobre{
        padding: 90px 20px 20px 20px;
    }

    .sobreupper{
        flex-direction: column;
    }

    .sobre .right{
        margin-top: 30px;
        text-align: left;
        align-items: flex-start;
    }

    .right ul{
        align-items: flex-start;
    }

    .sobrelower{
        height: 300px;
        flex:unset;
    }

    .lang{
        flex: unset;
        padding:10px ;
        height: 50px;
    }

}

@media (max-width:500px){
    .container.header{
        display: none;
    }

    .menu-mobile{
        width: 100%;
        height: 75px;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.90);
    }

    .menu img{
        height: 40px;
    }

    .contato{
        padding: 90px 20px 20px 20px;
    }
}

@media (max-width: 430px){

    .sobrelower{
        height: 500px;
    }

    .item-projetos{
        padding: 20px 0 20px 0;
    }

    .contato li{
        font-size: 15px;
    }

    .contato li img {
        height:20px;
    }

    .contato .left{
        flex: unset;
        height: 250px;
    }

    .right-img{
        flex: unset;
    }
}

@media (max-width: 340px){

    .sobrelower{
        height: 600px;
    }

    .item-projetos .imgprin{
        width: 250px;
        margin: 0 10px 20px 10px;
    }

    .botoes{
        flex-direction: column;
    }

    .botoes a{
        margin-top: 10px;
    }
}
